<!-- This is an HTML file that gets processed by Jinja2
(http://jinja.pocoo.org/docs/dev/). Jinja2 block commands are included in
curly braces and percent signs and inline commands in double angular brackets.
Everything outside these commands is just plain HTML. -->
{% from 'macros.html' import include_md %}
{% extends "base.html" %}


{% block head %}
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  /*stroke: #fff;*/
  stroke-width: 0.0;
}

</style>
{% endblock %}


<!-- CHANGEME. This sets the content of the HTML <title> element. -->
{% block title %}Networkd3{% endblock %}



{% block content %}
<!-- The description of the analysis is in README.md. The macro include_md()
pulls that description in and converts it to html to be shown also here. -->
[[ include_md('networkd3/README.md') ]]

<hr />
<!-- CHANGEME. Put your analysis HTML here. -->
<h3>Analysis Output</h3>

<svg id="canvas" width="1600" height="1600" />


<hr />
<!-- This log output below is just nice to have when starting to design an
analysis. Feel free to delete the line below. -->
<h3>Log</h3>
<pre id="log"></pre>
{% endblock content %}



{% block footerscripts %}
<!-- CHANGEME.
    Add a js library (put my-library.js into analyses/networkd3/):
    <script src="/networkd3/static/my-library.js"></script>
-->
<script>
  var databench = Databench();
  var graph = Graph('canvas');

  databench.on('graph', function(data) {
      graph(data);
  });

  // define how to draw graph with d3.js
  function Graph(id) {
      var svg = d3.select('#'+id),
          height = parseFloat(svg.attr('height')),
          width = parseFloat(svg.attr('width'));

      var color = d3.scale.category20();

      var force = d3.layout.force()
          .charge(-20)
          .linkDistance(15)
          .linkStrength(function(d) {
            if (d.type == 'colleague') return 0.005;
            if (d.type == 'retweet') return 0.1;
            if (d.type == 'mention') return 0.5;
            return 1.0;
          })
          .size([width, height]);


      return function(graph) {
        console.log(graph);
        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = svg.selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link")
            .style("stroke", function(d) {
              if (d.type == 'colleague') return color(7);
              if (d.type == 'mention') return 'green';
              return '#999';
            })
            .style("stroke-opacity", function(d) {
              if (d.type == 'colleague') return 0.1;
              return 0.4;
            })
            .style("stroke-width", function(d) {
              if (d.type == 'follow') return 2.0;
              return 1.0;
            });

        var node = svg.selectAll(".node")
            .data(graph.nodes)
          .enter()
            .append("g")
            .attr("class", "node")
            // .attr('transform', function(d) { return 'translate('+x(d)+',0)'; })
            .each(function(d, i) {
              d3.select(this)
                  .append("circle")
                  // .attr("class", "node")
                  .attr("r", function(d) {
                    if (d.type == 'person') {
                      if (d.followers_count > 20000) return 15.0;
                      if (d.followers_count > 5000) return 10.0;
                      if (d.followers_count > 500) return 7.0;
                      return 5.0;
                    }else if (d.type == 'person-non-wildcard') {
                      return 3.0;
                    }else if (d.type == 'tweet') {
                      if (d.favorite_count + d.retweet_count > 1000) return 10.0
                      if (d.favorite_count + d.retweet_count > 200) return 8.0
                      if (d.favorite_count + d.retweet_count > 50) return 5.0
                    }
                    return 2.0;
                  })
                  .style("fill", function(d) {
                    if (d.type == 'person-non-wildcard') return 'black';
                    if (d.type == 'tweet') return 'orange';
                    return color(7);
                    // return color(d.group);
                  });

              if (d.type == 'person') {
                // d3.select(this)
                //     .append('image')
                //     .attr('width', 10).attr('height', 10)
                //     .attr('x', -5).attr('y', -5)
                //     .style("opacity", "1.0")
                //     .attr('xlink:href', d.profile_image_url);

                d3.select(this)
                  .append('text')
                  .attr('x', 17).attr('y', 0)
                  .text(function(d) { return d.name; });
              }
            })
            .call(force.drag);

        node.append("title")
            .text(function(d) { return d.name; });

        force.on("tick", function() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr('transform', function(d) {
            return 'translate('+d.x+','+d.y+')';
          });
        });
      };
  }
</script>
{% endblock footerscripts %}
